/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../../../Documents/GitHub/todo-app/css/scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../../../Documents/GitHub/todo-app/css/scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../../../Documents/GitHub/todo-app/css/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../../../Documents/GitHub/todo-app/css/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../../../Documents/GitHub/todo-app/css/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../../../Documents/GitHub/todo-app/css/scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../../../Documents/GitHub/todo-app/css/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 50, ../../../Documents/GitHub/todo-app/css/scss/_reset.scss */
textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

/* line 1, ../../../Documents/GitHub/todo-app/css/scss/_geral.scss */
body {
  background: #161722;
  background-image: url(../../images/bg-desktop-dark.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 1, ../../../Documents/GitHub/todo-app/css/scss/_todo.scss */
.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  width: 600px;
  margin: 50px;
}

/* line 1, ../../../Documents/GitHub/todo-app/css/scss/_titulo-todo.scss */
.titulo-todo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  width: 100%;
}

/* line 2, ../../../Documents/GitHub/todo-app/css/scss/_titulo-todo.scss */
.titulo-todo .botao-tema {
  background: transparent;
  border: none;
}

/* line 1, ../../../Documents/GitHub/todo-app/css/scss/_criar-tarefa.scss */
.criar-tarefa {
  width: 100%;
  background-color: #25273c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #161722;
}

/* line 9, ../../../Documents/GitHub/todo-app/css/scss/_criar-tarefa.scss */
.criar-tarefa .check-tarefa {
  margin-left: 20px;
}

/* line 1, ../../../Documents/GitHub/todo-app/css/scss/_input-criar-tarefa.scss */
.input-criar-tarefa {
  width: calc(90% - 15px);
  background: transparent;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding: 23px 20px 23px 15px;
  color: #777a92;
  border: none;
  border-radius: 5px;
}

/* line 1, ../../../Documents/GitHub/todo-app/css/scss/_tarefa.scss */
.tarefa {
  background: #25273c;
  border-bottom: solid 1px #777a92;
  padding: 20px;
  display: flex;
  align-items: center;
}

/* line 8, ../../../Documents/GitHub/todo-app/css/scss/_tarefa.scss */
.tarefa .tarefa-texto {
  margin-left: 15px;
  border-radius: 0;
}

/* line 1, ../../../Documents/GitHub/todo-app/css/scss/_lista-tarefas-todo.scss */
.lista-tarefas-todo {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  box-shadow: 3px 3px 10px #161722;
}

/* line 3, ../../../Documents/GitHub/todo-app/css/scss/_lista-tarefas-todo.scss */
.lista-tarefas-todo :first-child {
  border-radius: 5px 5px 0 0;
}

/* line 1, ../../../Documents/GitHub/todo-app/css/scss/_check-tarefa.scss */
.check-tarefa {
  background: transparent;
  width: 20px;
  height: 20px;
  border: 1.75px solid #393a4c;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 10, ../../../Documents/GitHub/todo-app/css/scss/_check-tarefa.scss */
.check-tarefa img {
  width: 10px;
  height: 10px;
}

/* line 1, ../../../Documents/GitHub/todo-app/css/scss/_informacoes.scss */
.informacoes {
  background-color: #25273c;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #777a92;
  font-size: 15px;
  border-radius: 0 0 5px 5px;
}

/* line 13, ../../../Documents/GitHub/todo-app/css/scss/_informacoes.scss */
.informacoes .filtros {
  display: flex;
}

/* line 16, ../../../Documents/GitHub/todo-app/css/scss/_informacoes.scss */
.informacoes .filtros #botao-todos {
  color: #3a7bfd;
}

/* line 21, ../../../Documents/GitHub/todo-app/css/scss/_informacoes.scss */
.informacoes .botao {
  background: transparent;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  color: #777a92;
}

/* line 1, ../../../Documents/GitHub/todo-app/css/scss/_footer.scss */
.footer {
  margin-top: 30px;
}

/* line 3, ../../../Documents/GitHub/todo-app/css/scss/_footer.scss */
.footer a:link {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */