.check-tarefa-concluida{
    :nth-child(1){
        background: $check-gradient-color;
        border-color: #57ddff; // Também precisa ser um gradiente
        img{
            width: 10px;
            height: 10px;
            background: transparent;
        }
    }
    :nth-child(2){
        text-decoration: line-through;
        color: $dark-grayish-blue;
    }
}