body{
  background: $very-dark-blue;
  background-image: url(../../images/bg-desktop-dark.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}