.informacoes{
  background-color: $very-dark-desaturated-blue;
  display: flex;
  justify-content: space-between;

  padding: 20px;
  
  color: $dark-grayish-blue;
  font-size: 15px;

  border-radius: 0 0 5px 5px;

  .filtros{
    display: flex;
    
    #botao-todos{
      color: $bright-blue;
    }
  }

  .botao{
    background: transparent;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color: $dark-grayish-blue;
  }

}