.input-criar-tarefa{
  width: calc(90% - 15px);
  background:transparent;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding: 23px 20px 23px 15px;
  color: $dark-grayish-blue;
  border: none;
  border-radius: 5px;

}

