.tarefa{
  background: $very-dark-desaturated-blue;
  border-bottom: solid 1px $dark-grayish-blue;
  padding: 20px;
  display: flex;
  align-items: center;
  
  .tarefa-texto{
    margin-left: 15px;
    border-radius: 0;
  }
}